.container {
  display: flex;
  max-width: 1700px;
  max-height: 736px;
  margin:  32px;
  border-radius: 30px;
  background-color: var(--main);
  overflow: hidden;
}

.hero {
  flex: 1;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 24px;
  gap: 16px;
}


.title {
  color: var(--light);
  font-weight: 500;  
  font-size: 70px;
  line-height: 1; 
  letter-spacing: -0.02em;
}

.description {
   color: var(--light);
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
  line-height: 1;
  letter-spacing: -0.02em;
}
.imageContainer {  
  flex: 1;   
  box-shadow: 0 4px 8px rgba(27, 27, 27, 0.6);
}
.imageContainer img {
  object-fit: cover;
  flex: 1;  

}

.button {
  text-decoration: none;
  background-color: transparent;
  border: 1px solid rgba(251, 251, 251, 0.4);
  margin-top: 28px;
  padding: 18px 50px;
  border-radius: 30px;
  width: fit-content;
  color: var(--light);
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 1.2; 
  letter-spacing: -0.01em;
  display: flex;
  align-items: center;
  gap: 8px;
} 
.iconWrapper {
  display: inline-flex;
  width: 24px;  /* ikon boyutu sabit */
  height: 24px;
  position: relative;
}

.iconDefault,
.iconHover {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.2s ease;
}

.iconHover {
  opacity: 0;
}

.button:hover .iconDefault {
  opacity: 0;
}

.button:hover .iconHover {
  opacity: 1;
}