.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  color:  var(--main); /* pembe tonları güven & şefkati çağrıştırır */
  font-weight: bold;
  font-size: 20px;
}

.heart {
  color: var(--main); /* kırmızı kalp */
}

.text {
  font-family: "Helvetica Neue", Arial, sans-serif;
}