.navbar {
  display: flex;  
  align-items: center;
  justify-content: space-between;
  background-color: var(--main);
  padding: 16px 32px;
}
.logo {
  font-size: 24px;
  font-weight: bold;
}
.logoImage{
  width: 32px;
  height: 32px;
 
}
.spacer {
  display: flex;
  gap: 92px;
  justify-content: space-between;
}

.navList {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.navLink {
  position: relative;
  text-decoration: none;
  font-weight: 500;
  color: var(--light);
  transition: color 0.3s ease;
}

.navLink:hover::after,
.navLink.active::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
  width: 6px;
  height: 6px;
  background-color: white;
  border-radius: 50%;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.navLink::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);
  width: 6px;
  height: 6px;
  background-color: white;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.btnContainer {
  display: flex;
  gap: 18px;
}
.user {
  display: flex;
  align-items: center;
  
  border-radius: 8px;
  gap: 8px;
  color: var(--light);
  font-weight: 500;
}
.usericon {
  width: 40px;
  height: 40px;
  background-color: rgb(249, 249, 249);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.username {
  font-size: 18px;
  font-weight: 500;
}